<div class="snap-container">
  <div class="hero-container">
    <video autoplay muted loop id="hero-video" preload="auto">
      <source src="../../assets/video/herovid.mp4" type="video/mp4">
    </video>
    <div class="img-container">
      <img src="../../assets/svg/logoWhite.svg">
    </div>
  </div>

  <div class="card-container">
    <h1>EXPLORE CATHY'S COOKBOOK</h1>
    <div>
      <div class="divider"></div>
    </div>

    <div class="cards">
      <app-custom-card [imgSrc]="'../../assets/img/ocean.jpg'" [link]="['search']">
        <span class="title">Search</span>
        <span class="description">Search for new recipes</span>
      </app-custom-card>

      <app-custom-card [imgSrc]="'../../assets/img/mountain.jpg'" [link]="['cookbooks']">
        <span class="title">Cookbook</span>
        <span class="description">Make your own cookbook</span>
      </app-custom-card>

      <app-custom-card [imgSrc]="'../../assets/img/humming-bird.jpg'" [link]="['meal-prep']">
        <span class="title">Meal Prep</span>
        <span class="description">Plan this week's meals</span>
      </app-custom-card>
    </div>
  </div>
</div>