<div class="form-container">
  <h1>Create a Recipe</h1>
  <form [formGroup]="recipeForm" (submit)="addRecipe()">
    <div>
      <label for="title">Title:</label>
      <input id="title" formControlName="title" placeholder="Recipe Title">
    </div>
    <div>
      <label for="recipeClass">Class:</label>
      <select id="recipeClass" formControlName="recipeClass" placeholder="Recipe Class">
        @if ({classes: recipeClasses$ | async}; as data) {
        @for(class of data.classes; track class) {
        <option>{{ class.recipeClassName }}</option>
        }
        }
      </select>
    </div>

    <label>Ingredients</label>
    <div formArrayName="recipeIngredientsFormArray" class="recipe-section">
      @for (ingredient of recipeIngredientsFormArray.controls; track ingredient; let i = $index) {

      <div [formGroupName]="i">
        <input formControlName="ingredientName" placeholder="Ingredient Name">
        <select formControlName="unit" placeholder="Unit">
          @if ({measurements: measurements$ | async}; as data) {
          @for(measurement of data.measurements; track measurement) {
          <option>{{ measurement.measurementName }}</option>
          }
          }
        </select>
        <input type="number" formControlName="amount" placeholder="Amount">
        <button class="remove" (click)="removeFormGroup(i)">
          <img src="../../assets/svg/trash.svg">
        </button>
      </div>
      }
    </div>

    <div class="center-content">
      <button (click)="addFormGroup()">Add</button>
    </div>

    <label for="instructions">Instructions</label>
    <div class="center-content">
      <textarea id="instructions" formControlName="instructions" placeholder="Recipe Instructions"></textarea>
    </div>

    <div class="center-content">
      <button type="submit">Submit</button>
    </div>
  </form>
</div>