<div class="component-container">
  <div class="header">
    <h1>Create a Recipe</h1>
  </div>
  <div class="form-container">
    <form [formGroup]="recipeForm" (submit)="addRecipe(); addRecipeDetails()">
      <div class="main-fields">
        <div>
          <label for="title">Title:</label>
          <input id="title" formControlName="title" placeholder="Recipe Title">
        </div>
        <div>
          <label for="recipeClass">Class:</label>
          @if ({classes: recipeClasses$ | async}; as data) {
          <select id="recipeClass" formControlName="recipeClass" placeholder="Recipe Class">
            @for(class of data.classes; track class) {
            <option>{{ class.recipeClassName }}</option>
            }
          </select>
          }
        </div>
        <div>
          <label for="image">Image:</label>
          <input class="image-input" type="file" id="image" formControlName="image">
        </div>
      </div>

      <label>Ingredients</label>
      <div formArrayName="recipeIngredientsFormArray" class="recipe-section">
        <div class="filter-ingredients">
          <div class="align-button-over-input">
            <input placeholder="Filter Ingredients" (input)="onInputChange($event)">
            <button type="submit">
              <img src="../../assets/svg/filter.svg" />
            </button>
          </div>
          @if ({ingredients: ingredients$ | async}; as data) {
          <div formControlName="ingredientName" class="ingredients-container">
            @for (ingredient of data.ingredients; track ingredient) {
            <div>
              <input type="checkbox" (change)="onCheckboxChange($event, ingredient)">
              <option>{{ ingredient.ingredientName }}</option>
            </div>
            }
          </div>
          }
        </div>

        <div class="ingredient-list">
          @for (ingredient of recipeIngredientsFormArray.controls; track ingredient; let i = $index) {
          <div [formGroupName]="i">
            <li>{{ ingredient.value.ingredientName }}</li>
            <select formControlName="ingredientClass" placeholder="Ingredient Class">
              @if ({ingredientClasses: ingredientClasses$ | async}; as data) {
              <option>Class</option>
              @for(class of data.ingredientClasses; track class) {
              <option>{{ class.ingredientClassName }}</option>
              }
              }
            </select>
            <select formControlName="unit" placeholder="Unit">
              @if ({measurements: measurements$ | async}; as data) {
              <option>Unit</option>
              @for(measurement of data.measurements; track measurement) {
              <option>{{ measurement.measurementName }}</option>
              }
              }
            </select>
            <input type="number" formControlName="amount" placeholder="Amount" appNoNegative>
          </div>
          }
        </div>
      </div>

      <label for="instructions">Instructions</label>
      <div class="center-content">
        <textarea id="instructions" formControlName="instructions" placeholder="Recipe Instructions"></textarea>
      </div>

      <div class="center-content">
        <button type="submit">Submit</button>
      </div>
    </form>
  </div>
</div>