@import "./core/scss/variables";

.center-outlet {
  display: flex;
  justify-content: center;
  margin: 0;
  height: 89vh;
  width: 100vw;
  background-image: url('../assets/img/white-bg.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

button {
  border: none;
  background-color: #fff;
  padding: 2rem 0 0 2rem;
  img {
    height: 2rem;
    width: 2rem;
    filter: $dark-purple-filter;
    cursor: pointer;
  }
  :hover {
    animation: backArrow 0.5s;
  }
}

@keyframes backArrow {
  0% {
    transform: translateX(0);
  }
  20% {
    transform: translateX(-0.5rem);
  }
  50% {
    transform: translateX(0);
  }
  70% {
    transform: translateX(-0.5rem);
  }
  100% {
    transform: translateX(0);
  }
}
