@import "../core/scss/variables";

.header {
  background-color: $dark-purple;
  h1 {
    color: #fff;
    padding: 2rem;
    font-family: $serif-font;
  }
}
.form-container {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  margin-bottom: 5rem;
}
