<div class="header">
  <h1>Recipe Collections</h1>
</div>
<div class="center-content">
  @if ({lists: lists$ | async}; as data) {
  <div class="table-container">
    <table>
      <thead>
        <tr>
          <th>Collection</th>
          <th>Delete</th>
        </tr>
      </thead>
      <tbody>
        @for (list of data.lists; track list.listId) {
          <tr>
            <td>list.listName</td>
            <td id="delete"><button>Delete</button></td>
          </tr>
        }
      </tbody>
    </table>
  </div>
}
</div>