.search-tab {
    background-color: #fff;
    border: 1px solid #ccc;
    border-bottom: 1px solid #fff;
    padding: 0.5rem 1rem;
    &.selected {
        background-color: #ccc;
    }
}

.search-container {
    border: 1px solid #ccc;
    border-radius: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
}