@import "../core/scss/variables";

.recipe-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3 1fr);
  border: 1px solid $dark-purple;
  border-radius: 1rem;
  padding: 2rem;
  width: 60vw;

  .header-container {
    grid-column: 1 / span 2;
    grid-row: 1 / span 1;
    display: flex;
    justify-content: center;
    align-items: center;
    h1 {
      font-family: $serif-font;
      color: $dark-purple;
      text-align: center;
    }
    div {
      text-align: left;
      display: flex;
      flex-direction: row;
      align-items: center;
      padding: 0.5rem 1rem;
      .pill {
        border: 1px solid $dark-purple;
        border-radius: 3rem;
        background-color: $background-purple;
        color: $dark-purple;
        padding: 0.3rem 0.8rem;
        margin-left: 1rem;
        font-family: $sans-serif-font;
        font-size: 1rem;
        text-decoration: none;
      }
    }
  }

  .image-container {
    grid-column: 1 / span 1;
    grid-row: 2 / span 1;
    display: flex;
    justify-content: center;
    margin: 2rem;
    img {
      width: 100%;
    }
  }

  .instructions-container {
    grid-column: 1 / span 1;
    grid-row: 3 / span 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $background-purple;
    border: 1px solid $light-purple;
    border-radius: 1rem;
    padding: 1rem;
    margin: 0 1rem;
    max-height: 50vh;
    .instructions {
      font-family: $serif-font;
      color: $dark-purple;
      padding-bottom: 0.5rem;
    }
    .item {
      max-height: 30rem;
      overflow-y: auto;
      scrollbar-color: $dark-purple $background-purple;
      scrollbar-width: thin;
      display: flex;
      flex-direction: column;
      align-items: center;
      p {
        font-family: $sans-serif-font;
        color: $dark-text;
        font-size: 1rem;
      }
    }
  }

  .ingredients-container {
    grid-column: 2 / span 1;
    grid-row: 2 / span 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $background-purple;
    border: 1px solid $light-purple;
    border-radius: 1rem;
    padding: 2rem;
    margin: 2rem 1rem 0 1rem;
    .ingredients {
      font-family: $serif-font;
      color: $dark-purple;
      padding: 1rem 0 2rem 0;
    }
    .item {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      ul {
        li {
          list-style: none;
          color: $light-purple;
          font-size: 2rem;
        }
      }
    }
  }
}
