@if ({recipe: recipe$ | async}; as data) {
<div class="recipe-container">
  <div class="header-container">
    <h1>{{ data.recipe.recipeTitle }}</h1>
    <div>
      <p class="pill">{{ data.recipe.recipeClassName }}</p>
    </div>
    <!-- <button (click)="deleteRecipe()">Delete</button> -->
  </div>

  <div class="image-container">
    <img src="../../assets/svg/logoBlack.svg" />
  </div>

  <div class="instructions-container">
    <h3 class="instructions">Instructions</h3>
    <div class="item">
      <p>{{ data.recipe.instructions }}</p>
    </div>
  </div>

  <div class="ingredients-container">
    <h3 class="ingredients">Ingredients</h3>
    <div class="item">
      <ul>
        @for (ingredient of data.recipe.recipeDetails; track ingredient) {
        <li>{{ ingredient.ingredientName }} - {{ ingredient.amount }} {{ ingredient.measurementName }}</li>
        }
      </ul>
    </div>
  </div>
</div>
}