@if ({recipes: myRecipes$ | async}; as data) {
<div class="container">
  <div class="header">
    <h1>My Recipes</h1>
    <div class="align-button-over-input">
      <input type="text" name="recipe" (input)="onInputChange($event)" />
      <button type="submit">
        <img src="../../assets/svg/filter.svg" />
      </button>
    </div>
  </div>
  <div class="recipes-container">
    <div class="scroll">
      @for (recipe of data.recipes; track recipe) {
      <div class="recipe-link">
        <a [routerLink]="['../my-recipe/', recipe.recipeId]" routerLinkActive="activebutton"
          ariaCurrentWhenActive="page">{{
          recipe.recipeTitle }}</a>
        <div class="pill-container">
          <p class="pill">{{ recipe.recipeClassName }}</p>
        </div>
      </div>
      <div class="align-ingredients">
        @for (ingredient of recipe.recipeDetails; track ingredient) {
        <p>{{ ingredient.ingredientName }}</p>
        }
      </div>
      }
    </div>
  </div>
</div>
}