<div class="navbar">
  <a [routerLink]="['']" routerLinkActive="activebutton" ariaCurrentWhenActive="page">
    <img src="../../assets/logoWhite.svg">
  </a>
  <ul>
    <li>
      <a [routerLink]="['search']" routerLinkActive="activebutton" ariaCurrentWhenActive="page">Search</a>
    </li>
    <li><a [routerLink]="['cookbooks']" routerLinkActive="activebutton" ariaCurrentWhenActive="page">Cookbooks</a></li>
    <li><a [routerLink]="['meal-prep']" routerLinkActive="activebutton" ariaCurrentWhenActive="page">Meal Prep</a></li>
  </ul>
</div>