@import "../core/scss/variables";

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 100vw;
  .recipe-select {
    grid-column: 1 / span 1;
    .header {
      background-color: $dark-purple;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: 19vh;
      h1 {
        color: #fff;
        padding: 1rem;
        font-family: $serif-font;
      }
      .align-button-over-input {
        display: flex;
        margin-bottom: 2rem;
        input {
          padding: 0.7rem;
          width: 20rem;
          border-radius: 1rem;
          border: 2px solid #ccc;
          font-size: 1rem;
          font-family: $sans-serif-font;
        }
        button {
          width: 3rem;
          height: 3rem;
          display: flex;
          justify-content: center;
          align-items: center;
          background-color: #eee;
          border: 2px solid #ccc;
          border-radius: 1rem;
          margin-left: -3rem;
          img {
            width: 1.5rem;
            height: 1.5rem;
            filter: $icon-filter;
          }
        }
      }
    }

    .recipes-container {
      background-color: #fff;
      min-height: 70vh;
      display: flex;
      justify-content: left;
      align-items: center;
      border-right: 1px solid $dark-purple;
      .scroll {
        height: 70vh;
        width: 100%;
        overflow-y: auto;
        scrollbar-width: thin;
        scrollbar-color: $dark-purple $background-purple;
        div {
          display: flex;
          align-items: center;
          input {
            margin-left: 1rem;
          }
          p {
            text-decoration: none;
            color: $dark-purple;
            font-family: $serif-font;
            font-size: 1.5rem;
            margin-bottom: -0.5rem;
          }
          div {
            text-align: left;
            display: flex;
            flex-direction: row;
            align-items: center;
            padding: 0.5rem 1rem;
            .pill {
              border: 1px solid $dark-purple;
              border-radius: 3rem;
              background-color: $background-purple;
              color: $dark-purple;
              padding: 0.3rem 0.8rem;
              margin: 1rem 0 0.5rem 1rem;
              font-family: $sans-serif-font;
              font-size: 0.7rem;
              text-decoration: none;
            }
          }
        }
        .align-ingredients {
          display: flex;
          flex-wrap: wrap;
          p {
            color: $light-purple;
            font-size: 1rem;
            font-family: $sans-serif-font;
            margin-right: -1.2rem;
          }
        }
        p {
          color: $light-purple;
          margin: 0 0 1rem 2rem;
          max-width: 80%;
        }
      }
    }
  }

  .shopping-list {
    grid-column: 2 / span 2;
    background-color: #fff;

    h1 {
      color: $dark-purple;
      font-family: $serif-font;
      font-weight: bold;
      margin: 1rem;
      text-align: center;
    }
    .selected-recipes {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      width: 85%;
      margin: 1rem 5rem;
      h3 {
        color: $light-purple;
        font-size: 1.5rem;
        font-family: $sans-serif-font;
      }
      p {
        color: $light-purple;
        font-size: 1.25rem;
        margin: 0.5rem 1rem;
        font-family: $sans-serif-font;
      }
    }
    .table-container {
      position: relative;
      display: flex;
      justify-content: center;
      max-height: 50vh;
      overflow-y: auto;
      scrollbar-width: thin;
      scrollbar-color: $dark-purple $background-purple;
      padding-bottom: 1rem;
      table {
        width: 100%;
        margin: 0 5rem;
        border-collapse: collapse;
        font-family: $sans-serif-font;
        thead {
          position: sticky;
          top: 0;
          background-color: #f5f5f5;
          th {
            padding: 1rem 1.5rem;
            text-align: center;
            font-weight: bold;
            border: 1px solid #ddd;
            border-bottom: 2px solid #ddd;
            color: $light-purple;
          }
        }

        tbody {
          color: #777;
          tr {
            &:hover {
              background-color: #f5f5f5;
            }

            td {
              padding: 12px 15px;
              text-align: left;
              border: 1px solid #ddd;

              &:first-child {
                font-weight: bold;
              }
            }
          }
        }
      }
    }
    .email {
      display: flex;
      justify-content: center;
      margin-top: 2rem;
      form {
        display: flex;
        justify-content: center;
        input {
          padding: 0.7rem;
          width: 20rem;
          border-radius: 1rem;
          border: 2px solid #ccc;
          font-size: 1rem;
          font-family: $sans-serif-font;
        }
        button {
          width: 4rem;
          height: 3rem;
          display: flex;
          justify-content: center;
          align-items: center;
          font-family: $sans-serif-font;
          font-size: 1rem;
          color: #777;
          background-color: #eee;
          border: 2px solid #ccc;
          border-radius: 1rem;
          margin-left: -3rem;
          transition: background-color 300ms ease, color 300ms ease;
          &:hover {
            background-color: #ccc;
            cursor: pointer;
            color: #fff;
          }
        }
      }
      .download {
          padding: 0 1rem;
          margin-left: 1rem;
          display: flex;
          justify-content: center;
          align-items: center;
          font-family: $sans-serif-font;
          font-size: 1rem;
          color: #777;
          background-color: #eee;
          border: 2px solid #ccc;
          border-radius: 0.7rem;
          transition: background-color 300ms ease, color 300ms ease;
          &:hover {
            background-color: #ccc;
            cursor: pointer;
            color: #fff;
          }
      }
    }
  }
}

@-webkit-keyframes shine {
  from {
    -webkit-mask-position: 150%;
  }

  to {
    -webkit-mask-position: -50%;
  }
}
