// Main Colors
$dark-purple: #8d04a2;
$light-purple: #caadff;
$background-purple: #f6ecff;
$yellow: #f6dc3d;
$light-yellow: #fbfca4;
$green: #a7c957;
$light-green: #e4fca4;

// Fonts
$serif-font: "Merriweather", serif;
$sans-serif-font: "Poppins", sans-serif;
$white-text: #fff;
$dark-text: #555;

// Filters
$dark-purple-filter: invert(11%) sepia(79%) saturate(5873%) hue-rotate(289deg)
  brightness(89%) contrast(107%);
$light-purple-filter: invert(77%) sepia(14%) saturate(3263%) hue-rotate(200deg)
  brightness(102%) contrast(102%);
$white-filter: invert(96%) sepia(4%) saturate(15%) hue-rotate(185deg)
  brightness(107%) contrast(104%);
$icon-filter: invert(50%) sepia(0%) saturate(25%) hue-rotate(268deg)
  brightness(92%) contrast(90%);

// Other
$border-color: #ccc;
$light-heading: #777;
