// Main Colors
$light-purple: #bbadff;
$dark-purple: #7d5bb1;
$green: #006400;
$yellow: #fbfca4;

// Fonts
$serif-font: "Merriweather", serif;
$sans-serif-font: "Poppins", sans-serif;
$white-text: #fff;
$dark-text: #555;
