// Main Colors
$dark-purple: #7d5bb1;
$light-purple: #bbadff;
$background-purple: #eeecff;
$yellow: #fbfca4;
$green: #006400;
$light-green: #d5d5be;

// Fonts
$serif-font: "Merriweather", serif;
$sans-serif-font: "Poppins", sans-serif;
$white-text: #fff;
$dark-text: #555;

// Filters
$dark-purple-filter: invert(41%) sepia(16%) saturate(1812%) hue-rotate(222deg) brightness(93%) contrast(85%);