/* You can add global styles to this file, and also import other style files */
@import "app/core/scss/variables";

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  position: absolute;
  overflow-x: hidden;
  // 100% is important for iPhone display
  height: 100%;
  width: 100%;
}
