<div id="search-tabs-container">
  <div id="sidebar">
    <img src="../../assets/svg/logoPurple.svg">
    <div id="search-tabs">
      @for (tab of tabs; track tab) {
      <button id="search-tab" (click)="selectTab(tab)" [ngClass]="{ selected: tab === (selectedTab$ | async) }">
        <img [src]="'../../assets/svg/' + tab + '.svg'" [ngClass]="{ selected: tab === (selectedTab$ | async) }">
        <p [ngClass]="{ selected: tab === (selectedTab$ | async) }">{{ tabsDisplayMap[tab] }}</p>
      </button>
      }
    </div>
  </div>

  <div class="search-container">
    @switch (selectedTab$ | async) { @case('myRecipes'){ <app-my-recipes />}
    @case('newRecipe'){ <app-create-recipe /> }
    @case('collections'){ <app-lists /> } }
  </div>
</div>