<div class="search-tabs-container">
  <div class="search-tabs">
    <h1>User's Cookbook</h1>
    @for (tab of tabs; track tab) {
    <button class="search-tab" (click)="selectTab(tab)" [ngClass]="{ selected: tab === (selectedTab$ | async) }">
      {{ tabsDisplayMap[tab] }}
    </button>
    }
  </div>

  <div class="search-container">
    @switch (selectedTab$ | async) { @case('myRecipes'){ <app-my-recipes />}
    @case('newRecipe'){ <app-create-recipe /> }
    @case('cookbooks'){ <app-lists /> } }
  </div>
</div>