<div class="search-tabs-container">
  <div class="search-tabs">
    <img src="../../assets/svg/logoPurple.svg">
    @for (tab of tabs; track tab) {
    <button class="search-tab" (click)="selectTab(tab)">
      <img [src]="'../../assets/svg/' + tab + '.svg'" [ngClass]="{ selected: tab === (selectedTab$ | async) }">
      <p [ngClass]="{ selected: tab === (selectedTab$ | async) }">{{ tabsDisplayMap[tab] }}</p>
    </button>
    }
  </div>

  <div class="search-container">
    @switch (selectedTab$ | async) { @case('myRecipes'){ <app-my-recipes />}
    @case('newRecipe'){ <app-create-recipe /> }
    @case('collections'){ <app-lists /> } }
  </div>
</div>